#bgimage{

	display:block;

	max-width:200px;

	height:auto;

}

#background-color, #background-image, #background-layout, #background-section, #font-section, #cc-logo-section,#background-size{

	float:left;

	margin:20px 20px 0px 0px;

}

#background-section, #font-section{

	padding-right:50px;

}

#background-section, #font-section, #cc-logo-section{

	overflow:hidden;

	border:1px solid gray;

	padding-left:20px;

	height:350px;

	min-width:350px;

}

#cc-logo-section{
	clear:left;
	height:250px;
}

#background-layout{

	clear:right;

}

.color{

	display:block;

}

p#submit-layout{

	clear:both;

	float:none;

}

#background-size{

	float:left;

}